{% extends "default" %} {% block head_meta %}
<meta name="robots" content="index, follow"> {% endblock %} {% block content_wrapper %}
<div class="post-header-container has-cover" style="background-image: url({% if page.cover %}{{site.baseurl}}/{{ page.cover }}{% else %}{{ site.cover }}{% endif %});">
    <div class="scrim has-cover">
        <header class="site-header post-header">
            <h1 class="title">{{ page.title }}</h1>
            <p class="info">por
                <strong>{{ page.author.name }}</strong>
                {% if page.author.mail != null %}
                <a href="mailto:{{ page.author.mail }}">
                    <i class="fa fa-lg fa-envelope-o" title="e-mail do autor"></i>
                </a>
                {% endif %} {% if page.author.blog != null %}
                <a href="{{ page.author.blog }}" target="_blank">
                    <i class="fa fa-lg fa-code" title="blog do autor"></i>
                </a>
                {% endif %} {% if page.author.github != null %}
                <a href="https://github.com/{{ page.author.github }}" target="_blank">
                    <i class="fa fa-lg fa-github" title="github do autor"></i>
                </a>
                {% endif %} {% if page.author.twitter != null %}
                <a href="https://twitter.com/{{ page.author.twitter }}" target="_blank">
                    <i class="fa fa-lg fa-twitter" title="twitter do autor"></i>
                </a>
                {% endif %} {% if page.author.facebook != null %}
                <a href="https://facebook.com/{{ page.author.facebook }}" target="_blank">
                    <i class="fa fa-lg fa-facebook" title="facebook do autor"></i>
                </a>
                {% endif %}
            </p>
        </header>
    </div>
</div>

{% if page.original != null %}
<meta http-equiv="refresh" content="0;URL={{ page.original }}"> {% endif %}

<div class="wrapper">

    <!-- TODO verificar o uso disso -->
    {% if page.cover != null %} {% include "page_divider" %} {% endif %}

    <section class="post-meta">
        <div class="post-date">
            {% include "date" %}
        </div>
        <div class="post-categories">
            em
            {% if page.categories %}
                {% for category in page.categories %}
                    <a href="{{ site.url }}/blog/categories/{{ category|url_encode(true) }}">{{ category }}</a>{% if not loop.last %}, {% endif %} 
                {% endfor %}
            {% endif %}
        </div>
    </section>
    <article class="post-content">
        {{ page.blocks.content|raw }}
    </article>

    {% if page.tags %}
   <p class="tags">
       Tags: {% for tag in page.tags %}
       <a href="{{ site.url }}/blog/tags/{{ tag|url_encode(true) }}">{{ tag }}</a>{% if not loop.last %}, {% endif %} {% endfor %}
   </p>
   {% endif %}

   <!-- TODO include share_buttons -->

    {% if site.disqus and site.disqus != '' %}
    <div id="disqus_thread"></div>
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = '{{site.disqus}}'; // required: replace example with your forum shortname

        {% if page.disqus.identifier %}
        var disqus_identifier = '{{page.disqus.identifier}}'; {% endif %}

        {% if page.disqus.title %}
        var disqus_title = '{{page.disqus.title}}'; {% endif %}

        {% if page.disqus.url %}
        var disqus_url = '{{page.disqus.url}}'; {% endif %}

        {% if page.disqus.category_id %}
        var disqus_category_id = '{{page.disqus.category_id}}'; {% endif %}

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function () {
            var dsq = document.createElement('script');
            dsq.type = 'text/javascript';
            dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the
        <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a>
    </noscript>
    {% endif %} {% endblock %}