<section class="share">
  <span>Compartilhar: </span>
  {% for social in site.social %}
    {% capture full_url %}{{ site.url }}{{ site.baseurl }}{{ page.url }}{% endcapture %}
    {% if social.name == "Twitter" and social.share == true %}
      <a href="//twitter.com/share?text={{ page.title | cgi_escape }}&url={{ full_url }}&via={{social.username}}"
        onclick="window.open(this.href, '{{ social.icon }}-share', 'width=550,height=255');return false;">
        <i class="fa fa-{{ social.icon | remove_first: '-square' }}-square fa-lg"></i>
      </a>
    {% endif %}
    {% if social.name == "Facebook" and social.share == true %}
      <a href="//www.facebook.com/sharer.php?t={{ page.title | cgi_escape }}&u={{ full_url }}"
        onclick="window.open(this.href, '{{ social.icon }}-share', 'width=550,height=255');return false;">
        <i class="fa fa-{{ social.icon | remove_first: '-square' }}-square fa-lg"></i>
      </a>
    {% endif %}
    {% if social.name == "Telegram" and social.share == true %}
      <a href="https://telegram.me/share/url?url={{ full_url }}&text={{ page.title | cgi_escape }}"
        onclick="window.open(this.href, '{{ social.icon }}-share', 'width=550,height=255');return false;">
        <i class="fa fa-{{ social.icon }} fa-lg"></i>
      </a>
    {% endif %}
    {% if social.name == "Google+" and social.share == true %}
      <a href="//plus.google.com/share?title={{ page.title | cgi_escape }}&url={{ full_url }}"
        onclick="window.open(this.href, '{{ social.icon }}-share', 'width=550,height=255');return false;">
        <i class="fa fa-{{ social.icon | remove_first: '-square' }}-square fa-lg"></i>
      </a>
    {% endif %}
    {% if social.name == "LinkedIn" and social.share == true %}
      <a href="//www.linkedin.com/shareArticle?mini=true&url={{ full_url }}"
        onclick="window.open(this.href, '{{ social.icon }}-share', 'width=550,height=255');return false;">
        <i class="fa fa-{{ social.icon | remove_first: '-square' }}-square fa-lg"></i>
      </a>
    {% endif %}
    {% if social.name == "Pinterest" and social.share == true %}
      <a href="//www.pinterest.com/pin/create/button/?description={{ page.title | cgi_escape }}&url={{ full_url }}&media={{ site.url }}{% if page.cover %}{{ page.cover | prepend: site.baseurl  }}{% elsif site.cover %}{{ site.cover | prepend: site.baseurl }}{% else %}{{ site.logo | prepend: site.baseurl }}{% endif %}"
        onclick="window.open(this.href, '{{ social.icon }}-share', 'width=550,height=255');return false;">
        <i class="fa fa-{{ social.icon | remove_first: '-square' }}-square fa-lg"></i>
      </a>
    {% endif %}
    {% if social.name == "Reddit" and social.share == true %}
      <a href="//www.reddit.com/submit" onclick="window.location = '//www.reddit.com/submit?url=' + encodeURIComponent('{{ full_url }}') + '&title={{page.title}}'; return false">
        <i class="fa fa-{{ social.icon | remove_first: '-square' }}-square fa-lg"></i>
      </a>
    {% endif %}
  {% endfor %}
</section>