---
layout: default
title: Home
generator: pagination
pagination:
    max_per_page: 3
use:
    - posts
---
<div class="home">

    <div class="site-header-container {% if site.cover %}has-cover{% endif %}" {% if site.cover %}style="background-image: url({{ site.baseurl }}{{ site.cover }});"
        {% endif %}>
        <div class="scrim {% if site.cover %}has-cover{% endif %}">
            <header class="site-header">
                <h1 class="title">{{ site.title }}</h1>
                {% if site.subtitle %}
                <p class="subtitle">{{ site.subtitle }}</p>{% endif %}
            </header>
        </div>
    </div>

    <div class="wrapper">
        <ul class="post-list">
            {% for post in page.pagination.items %}
            <li>
                <h2>
                    <a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a>
                </h2>
                <section class="post-excerpt" itemprop="description">
                    {{ post.blocks.content|raw|striptags|slice(0, 300) ~ '...' }}
                </section>
                <section class="post-meta">
                    <div class="post-date">
                        {% include "date" %}
                    </div>
                    <div class="post-author">
                        {{ post.author.name }}
                    </div>
                    <div class="post-categories">
                        em {% if post.categories %} 
                            {% for category in post.categories %}
                            <a href="{{ site.url }}/blog/categories/{{ category|url_encode(true) }}">{{ category| capitalize }}</a>{% if not loop.last %}, {% endif %} 
                            {% endfor %} 
                        {% endif %}
                    </div>
                </section>
            </li>
            {% if forloop.last == false %}
            <hr>
            {% endif %}
            {% endfor %}
        </ul>
        {% if page.pagination.previous_page or page.pagination.next_page %}
        <nav>
            {% if page.pagination.previous_page %}
            <a href="{{ site.url }}{{ page.pagination.previous_page.url }}">Newer Posts</a>{% endif %}
            <br /> {% if page.pagination.next_page %}
            <a href="{{ site.url }}{{ page.pagination.next_page.url }}">Older Posts</a>{% endif %}
            <br />
        </nav>
        {% endif %}
    </div>
</div>